@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto:wght@300;400;500&display=swap');

body {
  overflow-x: hidden;
  background-color: #060B33;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(7, 23, 23);
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .signInUp{
  float: right;
  width: 380px;
  height: 45px;
}

#club-intro-btn{
  color: #fff;
  font-weight: bolder;
  border-width: 2px;
  border-color: #fff;
  margin-left: 3vw;

  background-color: transparent;
}

.guestbook-area-contents{
  width: 100%;
  height: 18%;

  margin-top: 15px;

  border-bottom: 1px solid rgb(75, 75, 75);
}
.guestbook-writer-info-area{

  width: 40%;
  height: 25%;
}

.guestbook-writer-name-info{
  float: left;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.guestbook-writer-time-info{
  float: left;

  margin-left: 15px;
}

.guestbook-user-content{
  width: 100%;

  margin-top: 15px;
}

.hover-end{padding:0;margin:0;font-size:75%;text-align:center;position:absolute;bottom:0;width:100%;opacity:.8}

/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#userInfo-nav-top{
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.mobile-nav-bar-area{
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;

  width: 100vw;
  height: 5vh;

  z-index: 999;
}
#mobile-nav-bar-hamburger{
  float: right;
  width: 10%;
  height: 100%;

  line-height: 5vh;
  margin-right: 10px;
}
.heroDiv{
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  margin: 0px auto; 
  position: relative;

  color: #ddd;

  background-image: url('../../image/kau-wall-paper.jpeg');
  background-size: cover;
  background-position: center;
}
.heroDiv.p{
  color:white;
}

video{
  width: 100%;
}

.jb-text { 
  position: absolute; 
  top: 40%; 
  width: 80%; 
}

.jb-text p { 
  margin-top: -24px; 
  margin-left: 3vw;
  text-align: left; 
  font-size: 2.8vw; 
  color: #ffffff; 
}

.jb-btn{
  position: absolute;
  top: 67%;
  width: 100%;
  margin-left: 47%;
}

#club-introduce-btn{
  background-color: rgba(255, 255, 255, 0.2); 
  color: #f2f2f2;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px; 
  font-weight: 800;

  transition: 0.2s;
}

#club-introduce-btn:hover{
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.tile.is-ancestor{
  width: 80vw;
  margin-left: 10vw;
}

p{
  width: 100%;
  text-align: center;
}

.main.body{
  width: 70vw;
  margin-left: 15vw;
  display: none;
}

.activity-title{
  width: 100%;
  height: 7vw;
  margin-top: 4vh;
}
.activity-title p{
  font-family: 'Sniglet', cursive;
  font-size: 4vh;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
}

.card{
  width: 90vw;
  margin-top: 5vh;
}

.activity.area{
  width: 100%;
  height: 30vh;

  margin-bottom: 5vh;
}

.image.area.left{
  float: left;
  width: 20%;
  height: 100%;
  background-size: cover;
}
.image.area.right{
  float: right;
  width: 20%;
  height: 100%;
  background-size: cover;
}

.image.area img{
  position: absolute; top:0; left: 0;
  width: 100%;
  height: 100%;
}

.article.area.right{
  position: relative;
  float: right;
  margin-top: 5%;
  height: 70%;
  width: 77%;
}
.article.area.left{
  position: relative;
  float: left;
  margin-top: 5%;
  height: 70%;
  width: 77%;
}

.article.title{
  font-family: 'Do Hyeon', sans-serif;
  margin-top: 5%;
  color: rgb(37, 93, 252);
  text-align: left;
}

.article.content{
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;

  color: rgb(230, 230, 230);
}

.card.area{
  width: 70vw;
  margin-left: 15vw;
  margin-top: 10vh;
  height: 80vh;

  background-color: rgba(255, 255, 255, 0.2);
}

.cardContent{
  width: 80vw;
  height: fit-content;
  margin-left: 10vw;
  margin-right: 10vw;

  border-radius: 10px;
  padding-top: 1vh;
  background-color: rgba(255, 255, 255, 0.2);
}
.cardContent#thirdCard{
  float: right;
  margin-right: 0;
}

#logoArea{
  width: 50vw;
  height: 50vw;

  margin-left: 10vw;
  margin-top: 3vw;
  
  background-image: url("../image/AC\ logo\ 1.jpeg");
  background: cover;
}

#card-content-area{
  width: 80%;
  height: 50%;
  margin-top: 5%;
  margin-left: 10%;

  /* background-color: beige; */
}
.card-row{
  width: 90%;
  height: 20%;
  margin-left: 3%;
  margin-right: 3%;

}
#card-insta-pic{
  float: left;
  width: 20%;
  margin-top: 4%;
}
.card-icon-title{
  float: left;
  margin-top: 5%;
  margin-left: 3%;
  width: 70%;
  height: 100%;
}
#icon-title{
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}
#icon-content{
  color: white;
  text-align: left;
  margin-top: 2%;
  font-size: 0.8em;
}

#card-title{
  width:100%;
  font-size: 2em;
  text-decoration: underline;

  color: rgba(255, 255, 255, 0.8);
}

.footer{
  background-color: rgba(255, 255, 255, 0.1);
  color: #ddd;
  height: 10vh;
}

.ol{

  margin-top: 50px;
  color: white;
}

.notice-list li{
  list-style: '►';
  margin-bottom: 10px;
}

.galleryArea{
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

.gallertyCol-leftTop{
  float: left;
  width: 25vw;
  height: 25vw;

  border-radius: 5px;
}

.gallertyCol-rightTop{
  float: right;
  width: 25vw;
  height: 25vw;

  border-radius: 5px;
}

.gallertyCol-leftBot{
  width: 25vw;
  height: 25vw;
  margin-top: 2vh;

  border-radius: 5px;
}

.gallertyCol-rightBot{
  float: right;
  width: 25vw;
  height: 25vw;
  margin-top: 2vh;

  border-radius: 5px;
}

.quote{
  font-style: italic;
  font-weight: bolder;
}

.card .bottom{
  background-color: rgba(255, 255, 255, 0.1);
}

.fc .fc-toolbar-title{
  font-size: 1.75em;
  font-weight: bolder;
}

.content-title{
  color: white;
  width: 100%;
  height: 8vh;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 8vh;
}


.show-notice-area{
  width: 98vw;
  margin-left: 1vw;
  margin-bottom: 3vh;

  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  height: fit-content;
}

.show-notice-top{
  width: 100%;
  height: 10vh;
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  font-size: 1.5em;
  text-align: center;
  line-height: 10vh;
}

.show-notice-bottom{
  width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  padding-left: 3px;
  padding-right: 3px;
  overflow:hidden;
}
.main-notice-list{
  font-size: 1.2em;
  color: white;
  font-weight: 400;
}