html{
    background-color: #060b33;
    width: 100vw;
    height: 100%;
    
}

.leftNavBar{
    float: left;

    margin-left: 8vw;
    width: 30px;
    height: 80vh;
}

.rightContentBox{
   float: left;
   height: auto;
   min-height: 100%;

   /* border-left: 3px solid rgba(229, 229, 227, 0.6); */
   
   padding-left: 10px;
   padding-right: 10px;
   height: fit-content;

    width: 80vw;
    
    background-color: rgba(255, 255, 255, 0.15);

    margin-bottom: 15vh;
}
footer{
    height: 10vh;
    position : relative;
    transform : translateY(-100%);
  }

.leftNavContents{
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 10px;
  
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  border-radius: 10px;
  cursor: pointer;

  transition: 0.3s;
}

.leftNavContents:hover{
    background-color: rgb(217, 216, 216);
    color: black;
}

.leftNavText{
  margin-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.image-area{
    margin-left: 10vw;
    width: 60vw;
    height: fit-content;

    margin-top: 10px;
    margin-bottom: 5px;

    /*background-color: antiquewhite;*/
}

.picture-content{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 10vh;
    white-space: pre-line;
    color: white;
}
.title.is-4{
    margin-bottom: 0;
}
p{
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}
hr{
    height: 0.5px;
}

.contentHr{
    margin-top: 10vh;
}
.commentCount{
    color: white;
}
.wring-comment-area{
    min-height: 200px;
    width: 100%;
    height: 28vh;
}
#comment-writing-textbox{
    height: 15vh;
}
#comment-register-btn{
    height: 4vh;
    width: fit-content;
    font-size: 1.2em;   
    margin-top: 1vh;
    
    float: right;
}

.view-comment-area{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.original-comment{
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
}

.reply-comment{
    margin-left: 5%;
    width: 95%;
    height: fit-content;

}

.comment-writer-info{
    margin-left: 0;
    width: 100%;
    font-weight: 550;

    color: white;
}

.writing-time{margin-left: 20px;}

.comment-index{
    color: white;
    margin-left: 20px;
    width: 100%; 
    height: fit-content; 
    margin-top: 20px;
    padding-bottom: 20px;
}

.reply-comment-area{
    margin-left: 20px;
    cursor: pointer;
}

.wring-comment-area.reply{
    width: 95%;
    height: 28vh;
    margin-left: 5%;
    min-height: 200px;
}

#reply-comment-writing-textbox{
    height: 18vh;
}

textarea{
    height: 13vh;
}