html{
    background-color: #060b33;
    width: 100vw;
    height: 100%;
    
}

.leftNavBar{
    float: left;

    margin-left: 8vw;
    width: 30px;
    height: 80vh;
}

.rightContentBox{
   float: left;

   /* border-left: 3px solid rgba(229, 229, 227, 0.6); */
   
   padding-left: 10px;
   padding-right: 10px;

    width: 80vw;
    
    background-color: rgba(255, 255, 255, 0.15);
}

.leftNavContents{
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 10px;
  
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  border-radius: 10px;
  cursor: pointer;

  transition: 0.3s;
}

.leftNavContents:hover{
    background-color: rgb(217, 216, 216);
    color: black;
}

.leftNavText{
  margin-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.image-area{
    margin-left: 10vw;
    width: 60vw;
    height: fit-content;

    margin-top: 10px;
    margin-bottom: 5px;

    /*background-color: antiquewhite;*/
}

.picture-content{
    margin-left: 10vw;
    white-space: pre-line;
    color: white;
}
p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}
.title.is-4 {
    margin-bottom: 0;
}
.noticeBoard-page-navigator{
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.notice-tab{
    height: 5vh;
    width: 100%;
    color: white;
    cursor: pointer;

    background-color:rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}
.notice-tab:hover{
    font-size: 1.1em;
}

#notice-next-tab{
    border-bottom: 1px white; 
}
#notice-prev-tab{
    margin-top: 1px;
}

.tab-title{
    margin-left: 3%;
    width: 10%;
    line-height: 5vh;
    font-weight: bolder;
}

.tab-content-title{
    margin-left: 5%;
}